#cuerpo{
	background: url(thumb-1920-955301.jpg);
}
#titulo{
	font-family: Comic Sans MS;
	text-align: center;
	color: red;
}
#tabla{
	color: red;
	font-size: 30px;
	font-family: Agency FB;
}
#tabla2{
	color: red;
	font-size: 13px;
	font-family: ALGERIAN;
}
#inter{
	color: red;
	font-size: 20px;
}
